<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>696162402950-39rlblpbe6i4umkc5m96jk7587tdid3q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.696162402950-39rlblpbe6i4umkc5m96jk7587tdid3q</string>
	<key>API_KEY</key>
	<string>AIzaSyDu8tUFD2x50U8AqHLFoOmWFLOr5NuM6EQ</string>
	<key>GCM_SENDER_ID</key>
	<string>696162402950</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.feelings</string>
	<key>PROJECT_ID</key>
	<string>feelings-a5451</string>
	<key>STORAGE_BUCKET</key>
	<string>feelings-a5451.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:696162402950:ios:8676ba3790cbaea588c707</string>
</dict>
</plist>